{% extends "base.html.twig" %}
{% block stylesheets %}

<style>
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
#check{
	display: flex;
    color: #fff;
}
#check p{
	width: 90%;
}
</style>
{% endblock %}
{% block body %}

	
	<div class="container">
		
		<div class="row justify-content-center align-items-center h-100">
			<div class="col-md-8" id="col">
				{{ form_start(form) }}
					<div class="div_step">
						<span id="step">4</span>
					</div>
					<h1>Votre devis assurance Auto</h1>
					<h3>Vos informations personnelles</h3>

					<div class="row">
						{# <div class="col-md-12">
							{{ form_label(form.type) }}
							<div class="form-error">
								{{ form_errors(form.type) }}
							</div>
							{{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
						</div> #}
						<div class="col-md-12">
							{{ form_label(form.typeGarantie) }}
							<div class="form-error">
								{{ form_errors(form.typeGarantie) }}
							</div>
							{{ form_widget(form.typeGarantie, {'attr': {'class': 'form-control'}}) }}
						</div>

						{# Checkbox #}
						
						
						<div id="check">
							<p>Vol</p>
							<label class="switch">
								<input type="checkbox" name="vol">
								<span class="slider round"></span>
							</label>
						</div>
						<div id="check">
							<p>Panne 0km :</p>
							<label class="switch">
								<input type="checkbox" name="panne">
								<span class="slider round"></span>
							</label>
						</div>
						<div id="check">
							<p>Bris de glace :</p>
							<label class="switch">
								<input type="checkbox" name="brisGlace">
								<span class="slider round"></span>
							</label>
						</div>
						<div id="check">
							<p>Véhicule de remplacement :</p>
							<label class="switch">
								<input type="checkbox" name="remplacement">
								<span class="slider round"></span>
							</label>
						</div>
						<div id="check">
							<p>Petit rouleur - 8000 km/an :</p>
							<label class="switch">
								<input type="checkbox" name="petit_rouleur">
								<span class="slider round"></span>
							</label>
						</div>

						<div class="col-md-12" id="some-custom-id">
							{{ form_label(form.franchise) }}
							<div class="form-error">
								{{ form_errors(form.franchise) }}
							</div>
							{{ form_widget(form.franchise, {'attr': {'class': 'form-control'}}) }}
						</div>

					</div>
					<div class="div_submit">
						<input type="submit" class="btn btn-secondary" value="Suivant">
					</div>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
	
	   


{% endblock %}