{% extends "base.html.twig" %}
{% block body %}

	
	<div class="container">
		
		<div class="row justify-content-center align-items-center h-100">
			<div class="col-md-8" id="col">
				{{ form_start(formChercher) }}
					<div class="div_step">
						<span id="step">3</span>
					</div>
					<h1>Votre devis assurance Auto</h1>
					<h3>Immatriculation de votre véhicule :</h3>

					<div class="row">
						<div class="col-md-12" id="some-custom-id">
							{{ form_label(formChercher.matricule) }}
							<div class="form-error">
								{{ form_errors(formChercher.matricule) }}
							</div>
							<div class="input-group mb-2">
								<div class="input-group-prepend">
									<div class="input-group-text">FRANCE</div>
								</div>
								{{ form_widget(formChercher.matricule, {'attr': {'class': 'form-control','id':'inlineFormInputGroup'}}) }}
							</div>
						</div>


					</div>
					<div class="div_submit">
						<input type="submit" class="btn btn-secondary" value="Suivant">
					</div>
				{{ form_end(formChercher) }}

				<div class="div_toggle">
					<a  id="toggle">Saisir mon véhicule manuellement</a>
				</div>


				{{ form_start(formAjouterManuel,{'attr': {'id': 'formSaisir'}}) }}
					{{ form_label(formAjouterManuel.matricule) }}
					<div class="form-error">
						{{ form_errors(formAjouterManuel.matricule) }}
					</div>
					{{ form_widget(formAjouterManuel.matricule, {'attr': {'class': 'form-control','id':'inlineFormInputGroup'}}) }}

					{{ form_label(formAjouterManuel.marque) }}
					<div class="form-error">
						{{ form_errors(formAjouterManuel.marque) }}
					</div>
					{{ form_widget(formAjouterManuel.marque, {'attr': {'class': 'form-control','id':'inlineFormInputGroup'}}) }}

					{{ form_label(formAjouterManuel.modele) }}
					<div class="form-error">
						{{ form_errors(formAjouterManuel.modele) }}
					</div>
					{{ form_widget(formAjouterManuel.modele, {'attr': {'class': 'form-control','id':'inlineFormInputGroup'}}) }}

					{{ form_label(formAjouterManuel.cheveaux) }}
					<div class="form-error">
						{{ form_errors(formAjouterManuel.cheveaux) }}
					</div>
					{{ form_widget(formAjouterManuel.cheveaux, {'attr': {'class': 'form-control','id':'inlineFormInputGroup'}}) }}

					{{ form_label(formAjouterManuel.motorisation) }}
					<div class="form-error">
						{{ form_errors(formAjouterManuel.motorisation) }}
					</div>
					{{ form_widget(formAjouterManuel.motorisation, {'attr': {'class': 'form-control','id':'inlineFormInputGroup'}}) }}

					{{ form_label(formAjouterManuel.dateCirculation) }}
					<div class="form-error">
						{{ form_errors(formAjouterManuel.dateCirculation) }}
					</div>
					{{ form_widget(formAjouterManuel.dateCirculation, {'attr': {'class': 'form-control','id':'inlineFormInputGroup'}}) }}





					<div class="div_submit">
						<input type="submit" class="btn btn-secondary" value="Suivant">
					</div>
				{{ form_end(formAjouterManuel) }}
			</div>
		</div>
	</div>
	
	   
{% block javascripts %}
	<script>
		const targetDiv = document.getElementById("formSaisir");
		const btn = document.getElementById("toggle");
		btn.onclick = function () {
		if (targetDiv.style.display !== "none") {
			targetDiv.style.display = "none";
		} else {
			targetDiv.style.display = "block";
		}
		};
	</script>
{% endblock %}

{% endblock %}