{% extends "base.html.twig" %}
{% block body %}

	
	<div class="container">
		
		<div class="row justify-content-center align-items-center h-100">
			<div class="col-md-8" id="col">
				{{ form_start(form) }}
					<div class="div_step">
						<span id="step">1</span>
					</div>
					<h1>Votre devis assurance Auto</h1>
					<h3>Vos informations personnelles</h3>

					<div class="row">
						<div class="col-md-12">
							{{ form_label(form.gender) }}
							<div class="form-error">
								{{ form_errors(form.gender) }}
							</div>
							{{ form_widget(form.gender, {'attr': {'class': 'form-control'}}) }}
						</div>
						<div class="col-md-12">
							{{ form_label(form.Nom) }}
							<div class="form-error">
								{{ form_errors(form.Nom) }}
							</div>
							{{ form_widget(form.Nom, {'attr': {'class': 'form-control','placeholder':'Entrer votre nom'}}) }}
						</div>
						<div class="col-md-12" id="some-custom-id">
							{{ form_label(form.Prenom) }}
							<div class="form-error">
								{{ form_errors(form.Prenom) }}
							</div>
							{{ form_widget(form.Prenom, {'attr': {'class': 'form-control','placeholder':'Entrer votre prenom'}}) }}
						</div>
						<div class="col-md-12" id="some-custom-id">
							{{ form_label(form.dateNaissance) }}
							<div class="form-error">
								{{ form_errors(form.dateNaissance) }}
							</div>
							{{ form_widget(form.dateNaissance, {'attr': {'class': 'form-control'}}) }}
						</div>
						<div class="col-md-12" id="some-custom-id">
							{{ form_label(form.email) }}
							<div class="form-error">
								{{ form_errors(form.email) }}
							</div>
							{{ form_widget(form.email, {'attr': {'class': 'form-control','placeholder':'Entrer votre Email Adresse'}}) }}
						</div>
						<div class="col-md-12" id="some-custom-id">
							{{ form_label(form.telephone) }}
							<div class="form-error">
								{{ form_errors(form.telephone) }}
							</div>
							{{ form_widget(form.telephone, {'attr': {'class': 'form-control','placeholder':'Entrer votre Numero De Telephone'}}) }}
						</div>

					</div>
					<div class="div_submit">
						<input type="submit" class="btn btn-secondary" value="Suivant">
					</div>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
	
	   


{% endblock %}