{% extends "base.html.twig" %}
{% block body %}

	
	<div class="container">
		
		<div class="row justify-content-center align-items-center h-100">
			<div class="col-md-8" id="col">
				{{ form_start(form) }}
					<div class="div_step">
						<span id="step">2</span>
					</div>
					<h1>Votre devis assurance Auto</h1>
					<h3>Quelle l’année  d’obtention de votre permis ?</h3>

					<div class="row">
						<div class="col-md-12" id="some-custom-id">
							{{ form_label(form.permisDate) }}
							<div class="form-error">
								{{ form_errors(form.permisDate) }}
							</div>
							{{ form_widget(form.permisDate, {'attr': {'class': 'form-control'}}) }}
						</div>


					</div>
					<div class="div_submit">
						<input type="submit" class="btn btn-secondary" value="Suivant">
					</div>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
	
	   


{% endblock %}