{% extends "base.html.twig" %}
{% block stylesheets %}

<style>
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
#check{
	display: flex;
    color: #fff;
}
#check p{
	width: 90%;
}
</style>
{% endblock %}
{% block body %}

	
	<div class="container">
		
		<div class="row justify-content-center align-items-center h-100">
			<h1>MERCI POUR VOTRE CONFIANCE</h1>
			<h3>Votre devis vous sera envoyé par email à l’adresse  xxxxx@gmail.com dans les plus bref délais.</h3>
		</div>
	</div>

	
	   


{% endblock %}