{% extends "base.html.twig" %}
{% block body %}

	
	<div class="container">
		
		<div class="row justify-content-center align-items-center h-100">
			<div class="col-md-8" id="col">
				{{ form_start(form) }}
					<div class="div_step">
						<span id="step">3</span>
					</div>
					<h1>Votre devis assurance Auto</h1>
					<h3>Quel véhicule souhaitez-vous assurer ?</h3>

					<div class="row">
						<div class="col-md-12" id="some-custom-id">
							{% for i in 0..form.type|length-1 %}
								<div id="select_type_vehicule">
									{{ form_widget(form.type[i]) }}
									{{ form_label(form.type[i]) }}
								</div>
							{% endfor %}
							
						</div>


					</div>
					<div class="div_submit">
						<input type="submit" class="btn btn-secondary" value="Suivant">
					</div>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
	
	   


{% endblock %}