<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        
    </head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');
        body {
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            -webkit-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
            -moz-osx-font-smoothing: grayscale;
            background-color: #152733;
            padding: 50px 0;
        }
        form{
            border: 4px solid #fff;
            border-radius: 15px;
            padding: 50px;
        }
        h1,h3{
            color:#fff;
            text-align:center;
        }
        label{
            color:#fff;
        }
        input,select{
            margin-bottom: 20px;

        }
        #col .form-control{
            border:none;
            outline:none;
            box-shadow:none;
        }
        .form-error ul{
            list-style: none;
            padding: 0;
        }
        .form-error ul li{
            color: #d23434;
            list-style: none;
        }
        .div_step {
            align-items: center;
            text-align: center;
        }
        #step{
            text-align: center;
            display: inline-block;
            background: #fff;
            width: 40px;
            height: 40px;
            padding: 10px;
            border-radius: 50%;
        }
        .div_submit{
            text-align: center;
        }
        .div_submit input{
            width:50%;
        }
        #select_type_vehicule{
            margin: 10px 0;
        }
        .div_toggle{
            text-align:center;
        }
        a#toggle{
            color: #fff;
            cursor: pointer;
            padding: 30px 0;
            display: block;
        }

    </style>
    <body>
        {% block body %}{% endblock %}




        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </body>
</html>
